<template id="sabores-balde-template">
  <div class="sabores-grid" id="baldeGrid">
    <button class="sabor-tag sabor-select" data-sabor="Nata-Goiaba">Nata-Goiaba</button>
    <button class="sabor-tag sabor-select" data-sabor="Coco">Coco</button>
    <button class="sabor-tag sabor-select" data-sabor="Napolitano">Napolitano</button>
    <button class="sabor-tag sabor-select" data-sabor="Flocos">Flocos</button>
    <button class="sabor-tag sabor-select" data-sabor="Creme com Passas">Creme com Passas</button>
    <button class="sabor-tag sabor-select" data-sabor="Morango">Morango</button>
    <button class="sabor-tag sabor-select" data-sabor="Prestígio">Prestígio</button>
    <button class="sabor-tag sabor-select" data-sabor="Maçã Verde">Maçã Verde</button>
    <button class="sabor-tag sabor-select" data-sabor="Chocolate">Chocolate</button>
    <button class="sabor-tag sabor-select" data-sabor="Frutas Tropicais">Frutas Tropicais</button>
    <button class="sabor-tag sabor-select" data-sabor="Brigadeiro">Brigadeiro</button>
    <button class="sabor-tag sabor-select" data-sabor="Açaí">Açaí</button>
    <button class="sabor-tag sabor-select" data-sabor="Sonho de Valsa">Sonho de Valsa</button>
    <button class="sabor-tag sabor-select" data-sabor="Doce de Leite">Doce de Leite</button>
    <button class="sabor-tag sabor-select" data-sabor="Chocolate Africano">Chocolate Africano</button>
    <button class="sabor-tag sabor-select" data-sabor="Pavê">Pavê</button>
    <button class="sabor-tag sabor-select" data-sabor="Morango com Goiaba">Morango c/ Goiaba</button>
    <button class="sabor-tag sabor-select" data-sabor="Moça Bonita">Moça Bonita</button>
    <button class="sabor-tag sabor-select" data-sabor="Tapioca">Tapioca</button>
  </div>
</template>


<template id="sabores-20-template">
  <div class="sabores-grid">
    <a href="#" class="sabor-tag wpp-link">Nata-Goiaba</a>
    <a href="#" class="sabor-tag wpp-link">Coco</a>
    <a href="#" class="sabor-tag wpp-link">Napolitano</a>
    <a href="#" class="sabor-tag wpp-link">Flocos</a>
    <a href="#" class="sabor-tag wpp-link">Creme com Passas</a>
    <a href="#" class="sabor-tag wpp-link">Morango</a>
    <a href="#" class="sabor-tag wpp-link">Prestígio</a>
    <a href="#" class="sabor-tag wpp-link">Maçã Verde</a>
    <a href="#" class="sabor-tag wpp-link">Chocolate</a>
    <a href="#" class="sabor-tag wpp-link">Frutas Tropicais</a>
    <a href="#" class="sabor-tag wpp-link">Brigadeiro</a>
    <a href="#" class="sabor-tag wpp-link">Açaí</a>
    <a href="#" class="sabor-tag wpp-link">Sonho de Valsa</a>
    <a href="#" class="sabor-tag wpp-link">Doce de Leite</a>
    <a href="#" class="sabor-tag wpp-link">Chocolate Africano</a>
    <a href="#" class="sabor-tag wpp-link">Pavê</a>
    <a href="#" class="sabor-tag wpp-link">Morango c/ Goiaba</a>
    <a href="#" class="sabor-tag wpp-link">Moça Bonita</a>
    <a href="#" class="sabor-tag wpp-link">Tapioca</a>
  </div>
</template>


<template id="sabores-picole-template">
  <div class="sabores-grid">
    <a href="#" class="sabor-tag wpp-link">Coco</a>
    <a href="#" class="sabor-tag wpp-link">Amendoim</a>
    <a href="#" class="sabor-tag wpp-link">Flocos</a>
    <a href="#" class="sabor-tag wpp-link">Maçã Verde</a>
    <a href="#" class="sabor-tag wpp-link">Uva</a>
    <a href="#" class="sabor-tag wpp-link">Morango</a>
    <a href="#" class="sabor-tag wpp-link">Chocolate</a>
    <a href="#" class="sabor-tag wpp-link">Brigadeiro</a>
    <a href="#" class="sabor-tag wpp-link">Açaí</a>
    <a href="#" class="sabor-tag wpp-link">Tamarindo</a>
    <a href="#" class="sabor-tag wpp-link">Tapioca</a>
  </div>
</template>